* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;

    grid-template-areas:
    "header header"
    "sidebar content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    background: grey;
    grid-area: content;
}