.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px 0 0 15px;
}

.messages > * {
    padding-bottom: 30px;
}

.dialogItem:nth-child(2) {
    text-align: center;
}

.messages button {
    padding: 5px;
}

